{block #page_title}
  {_"user.list_of_users"}
{/block}

{block #head}
    {$webloader->css('data_grid')|noescape}

    <script type="module">
        import Happy from '/assets/Happy.js';
        Happy.init();
    </script>
{/block}

{block #foot}
    {$webloader->js('data_grid')|noescape}
{/block}

{block #content}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          {control usersList}

          <div class="row no-print">
            <div class="col-12">
              {if $user->isAllowed('Admin:User', 'add')}
                <a href="{plink add}" class="btn btn-success float-right"><i class="fa fa-plus"></i>&nbsp;{_user.btn.add}</a>
              {/if}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
