{block #page_title}
  {_"user.profile"}
{/block}

{block #head}
{/block}

{block #foot}
{/block}

{block #content}
  <div class="row">
    <div class="col-md-3">

      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
            <img class="profile-user-img img-fluid img-circle" src="{$myUser->gravatar()}" alt="User profile picture">
          </div>
          <h3 class="profile-username text-center">{$myUser->fullName}</h3>
          <p class="text-muted text-center">{_"user.role_{$myUser->role}"}</p>
        </div>
      </div>

    </div>
  </div>
