<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<!-- Seo -->
	<title>{block #title|stripHtml|trim}Nutella{/} | Nette project</title>

	<!-- Meta -->
	<meta name="description" n:ifset="#description" content="{include #description}">
	<meta name="keywords" n:ifset="#keywords" content="{include #keywords}">
	<meta name="robots" content="index,follow">
	<meta name="googlebot" content="snippet,archive">
	<meta name="author" content="Miroslav Nový">

	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	{block #head}{/}
	{$webloader->css('adminlte_core')|noescape}
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
	<div class="wrapper">

		{block #navbar}{/}
		{block #sidebar}{/}

		<div class="content-wrapper px-4 py-2">
			<div class="content-header">
				{block #content_header}{/}
    		</div>

			<div class="content px-2">
				{include #content}
			</div>
		</div>

		<footer class="main-footer">
			<div class="float-right d-none d-sm-inline" n:ifset="#site_version">{include #site_version}</div>
			<strong>Copyright &copy; 2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
		</footer>
	</div>

	{$webloader->js('adminlte_core')|noescape}
	{block #foot}{/}
</body>
</html>
