{block paginator}

    {*<div class="pagination-wrapper clearfix text-center">
        <ul class="pagination">
            <li n:class="$paginator->isFirst() ? disabled, page-item">
                <a class="left-etc" href="{plink this $paginator->page-1}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>

            {for $i=1; $i<$paginator->pageCount; $i++}
                <li n:class="$paginator->page===$i? active">
                    <a class="page-link" href="{plink this $i}">{$i}</a>
                </li>
            {/for}

            <li n:class="$paginator->isLast() ? disabled, page-item">
                <a class="page-link" href="{plink this $paginator->page+1}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </div>*}

    <div class="pagination-wrapper">
        <ul class="pagination">
            <li n:class="$paginator->isFirst() ? disabled, left-etc"><a
                        href="{plink this $paginator->page-1}">&laquo;</a></li>

            {for $i=1; $i<=$paginator->pageCount; $i++}
                <li n:class="$paginator->page===$i? active"><a href="{plink this $i}">{$i}</a></li>
            {/for}

            <li n:class="$paginator->isLast() ? disabled, right-etc"><a href="{plink this $paginator->page+1}">&raquo;</a></li>
        </ul>
    </div>

{/}
