{*
 * @param Paginator $paginator
 * @param array     $steps
 *}

{var $link = [$control->getParent(), link]}
<div n:if="$paginator->pageCount > 1">
    <div class="col-pagination text-center">
        <ul class="pagination">
            <li class="paginate_button page-item previous {if $paginator->isFirst()}disabled{/if}">
                <a href="{$link('page!', ['page' => $paginator->page - 1])}" class="page-link" rel="prev"><i class="fa fa-arrow-left"></i> {='ublaboo_datagrid.previous'|translate}</a>
            </li>

            {foreach $steps as $step}
                <li class="paginate_button page-item {if $step == $paginator->page}active{/if}">
                    <a href="{$link('page!', ['page' => $step])}" aria-controls="sorting-table" class="page-link">{$step}</a>
                </li>
                {if $iterator->nextValue > $step + 1}<span>…</span>{/if}
            {/foreach}

            <li class="paginate_button page-item next {if $paginator->isLast()}disabled{/if}">
                <a href="{$link('page!', ['page' => $paginator->page + 1])}" class="page-link" rel="next">{='ublaboo_datagrid.next'|translate} <i class="fa fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</div>
